.THIS {
    font-family: "Open Sans";
}

/*new styles*/
.THIS .w30Per{width:37%!important;    padding: 0.25em!important;   font-weight: bold !important;}
.THIS .w70Per{width:63%!important;    padding: 0.25em!important;}
.THIS .w25Per{width:27%!important;    padding: 0.25em!important; font-weight: bold !important;}
.THIS .w75Per{width:73%!important;    padding: 0.25em!important;}

@media (max-width: 768px) {
 .THIS .w30Per,  .THIS .w70Per, .THIS .w25Per, .THIS .w75Per{width:50%!important;} 
}
@media (max-width: 1300px) {
 .THIS .w30Per{width:40%!important;} 
 .THIS .w70Per{width:60%!important;} 
 .THIS .w25Per{width:40%!important;} 
 .THIS .w75Per{width:60%!important;} 
}

/*new styles*/


.THIS .search{
    margin-left: 3px!important;
    width: 20%;
    padding: 6px 30px!important;
    background: #009ada!important;
    border: 1px #009ada!important;
    color: #fff!important;
    font-weight: 500!important;
    cursor: pointer!important;
    font-size: 16px!important;
}
.THIS .searchbox{
    float: left!important;
    width: 79%;
}
.THIS .tablewrapper{
    width: 80%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
.THIS .butwrp{
    margin: 30px 0!important;
}
.THIS  .inrbut{
    float:right!important;
    width: auto !important;
    padding: 3px 50px!important;
    font-size: 14px !important;
}
.THIS .sldsbg{
    background-color: #effaff!important;
}
.THIS .sldstbch{    
    height: 40px!important;
    
}
.THIS .sldstbl1{
    border: 1px solid #009ada!important;
}
.THIS .sldsHD900{
    font-weight: 600!important;
    font-size: 12px!important;
    padding: 0 15px !important;
}
.THIS .sldsHD600{
    font-weight: 600!important;
}
.THIS .brdr01{
    border-bottom: 1px solid #009ada!important;
    border-top: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
} 
.THIS .brdr0{
    border-top: 1px solid #009ada!important;
    border-bottom: 1px solid #009ada!important;
    border-left: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
}
.THIS .brdr1{
    border-top: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
}
.THIS .brdr2{
    border-bottom: 1px solid #009ada!important;
    border-left: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
    font-size: 12px!important;
}
.THIS .brdr3{
    border-bottom: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
    font-size: 12px!important;
}

.THIS .brdr4{
    border-bottom: 1px solid #009ada!important;
    border-right: 1px solid #009ada!important;
    font-size: 12px!important;
}
.THIS .brdr5{
    border-top: 1px solid #009ada!important;
}
.THIS .deal{
    margin-top: 15px!important; 
}
.THIS .fmbr{
    /*border-color: rgb(144, 144, 144)!important;*/
    height: 40px!important;
    padding: 0 30px!important;
}
.THIS .fmbr1{
    border-color: rgb(144, 144, 144)!important;
}
.THIS .mrbt{
    margin-bottom: 15px!important;
}
.THIS .uiInputDate+.display,.THIS .uiInputDate .display{
    left: 10px!important; 
    top: 12px!important;
}

.THIS .mrbt2{
    margin-bottom: 15px!important;
}
.THIS .sldsbg1{
    background-color: #1e5aa3!important;
    color: #fff!important;
    height: 40px!important;
}
.THIS .fwt{
    font-weight: 700!important;
}
.THIS .dateinvalid{
    border-color: rgb(194, 57, 52)!important;
}
.THIS .section{
    width: 80%!important;
    margin-left: auto!important;
    margin-right: auto!important;
}