.THIS{background: #fff !important;}
.THIS .uiInput--checkbox input, .THIS input.uiInput--checkbox{height: 16px;width: 16px;margin-top: 13px;}
.THIS .containerMain {max-width: 70rem;margin: 0 auto !important;padding:10px;}
.THIS .containerMain1{padding:30px;margin: 0 auto !important;}
.THIS .pR5px{padding-right:5px;}
.THIS .pL5px{padding-left:5px !important}
.THIS .content33 {width:25%;margin-bottom:10px;float:left;}
.THIS .content100{width:100%;margin-bottom:10px;float:left;}
.THIS .cont100{width:100%;float:left;}
/*.THIS .slds-select_container{  padding: 0 10px !important;}*/
.THIS .optionBtn{width:100% !important;;color:#3e3e3c;font-size:12px;}
.THIS .uiInput{width:100%;color:#3e3e3c;font-size:12px ;}
.THIS .outerDivOptions .slds-select{min-height: 80px !important;}
.THIS .outerDivForBrand .slds-select{min-height: 30px !important;}
.THIS .cont50{width:50%;margin-bottom:10px;float:left;}
.THIS .cont20{width:20%;margin-bottom:10px;float:left;}
.THIS .content60{width:60%;margin-bottom:10px;float:left;}
.THIS .slds-select{border: 1px solid #c7c7c7;width: 100%;height: 30px;padding: 5px;border-radius:5px;margin-top:0px;min-height: 80px;}
.THIS .abc{border: 1px solid #c7c7c7;width: 100%;height: 30px;padding: 5px;border-radius:5px;margin-top:5px;min-height: 80px;}
/*.THIS .slds-form-element__control{padding-top:5px;}*/
.THIS .label{margin-bottom:10px;}
.THIS .btnClas{background-color:#5280b8;color:#fff;border-radius:5px;height: 40px;padding: 5px 30px;cursor:pointer;transition: all .5s!important;border:none;}
.THIS .btnClas:hover{background-color:#355c8b;}
.THIS .btnOuter{margin-top:5px;text-align:center;}
.THIS .tableHeadMain{background-color:#fafaf9;width:100%;}
.THIS .headBox{padding:8px;text-align:center;border-top:2px solid #d8d8d8 !important;border-bottom:1px solid #d8d8d8 !important;color:#333;font-size:14px;}
.THIS .width100{width:100%;}
.THIS .dataBox{padding:6px 8px;text-align:center;border-top:1px solid #e6e6e6 !important;border-bottom:1px solid #e6e6e6 !important;color:#868686;font-size:14px;}
.THIS .tableOuter{width: 100% !important; margin-bottom: 15px !important;overflow-x: auto !important;overflow-y: hidden !important;}
.THIS .ScheduleRecallOuter{position: relative;z-index: 999;float: right;margin-top: -50px;}
.THIS .ScheduleRecallBtn{background-color:#7e7e7e;padding: 0px 10px;color:#fff;border-radius:5px;height:35px;cursor:pointer;border:none;transition: all .5s!important;}
.THIS .ScheduleRecallBtn:hover{background-color:#4f4f4f;}
.THIS .itemRow:hover{background-color:#fafaf9;}
.THIS .itemRow{cursor:pointer;transition: all .5s!important;}
.THIS .slds-select_container:before, .THIS .slds-select_container:after{display:none;}
.THIS .optionbTnlightning{min-height:80px;}
.THIS .dfr{margin-left: 5px;position: relative;top: -5px;}
.THIS .slds-theme_error, .THIS .slds-theme--error{color: rgb(251, 0, 0)!important;
    background-color: rgb(255, 255, 255)!important;border: 1px solid rgb(251, 0, 0)!important;padding: 5px 15px!important;text-align: center !important;margin: 0 auto!important;
    border-radius: 50px!important;min-width: initial;}
.THIS .tAligC{text-align:center;}
.THIS .pB30px{padding-bottom:30px!important;}
.THIS .legendclass{
    background-color: #287ca6;
    width: 200%;
    color: white;
    line-height: 1.5;
    padding: 1px;
    font-weight: bold;
}
.THIS .p5px{padding-right:5px;padding-left:5px;}


 .THIS .slds-notify_container {
        top:inherit; margin-top:20px;
        }
        .THIS .slds-theme--error
        {
        background-color: #E88310;
        }
        .THIS .slds-text-heading_small
        {
        color :#000;text-align:center;
        }
.THIS .slds-notify__content{text-align:center;text-transform:uppercase;}
.THIS .pclassError{text-transform:capitalize;}
.THIS .errorMsg{padding:5px 20px;}
.THIS .requiredCls{color: rgb(194, 57, 52);
    margin: 0 .125rem;}


@media (max-width: 991px) {
.THIS{background: #fff !important;padding:20px;}
}
@media (max-width: 767px) {
.THIS .content60, .THIS .cont20{width:100%;}
.THIS .content33{width:50%;}
}


@media (max-width: 600px) {
.THIS .ScheduleRecallOuter{position: inherit;
    float: none;
    margin-top: -20px;
    margin-bottom: 15px;}
.THIS .mobPadd15{padding: 15px;}
.THIS{background: #fff !important;padding:10px;}
.THIS .content33{width:100%;}
.THIS .p5px{padding:0;}
.THIS .containerMain1{padding:0;}
}