.THIS .theadclass 
{
    background-color:#1E5AA3;
    color:white;
}
.THIS .radioliclass
{
 font-weight:bold;   
}
.THIS .panelclass
{
    width: 60%;
    padding:0px;
}
.THIS .secondpanelclass
{
    width: 38.333333%;
    border-bottom: 2px solid #efefef;
    padding: 3px;
} 
.THIS .liwidth
{
width: 50%;
}
.THIS .lialign
{
    align:right;
}
.THIS .lisize
{
    width:8%;
}
.THIS .firstlisize
{
    width:71%;
}
.THIS .listyle
{
    background-color: rgb(236, 238, 241);
    border: 1px white solid;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .thclass
{
    color:black;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
    height: 40px;
     border-bottom: 1px solid white;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
}
.THIS .headercolor
{
    color:white;
}
.THIS .bodyborder
{
    
    border-top: 0px;
}
.THIS .pclass
{
    color:white;
}
.THIS .fieldsetclass
{
    border: 1px solid black;
}
.THIS .labelclass
{
    padding-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .popuplisize
{
    width: 50%;
}
.THIS .legendclass
{
    padding-left: 3%;
    font-weight: bold;
}
.THIS .headerli
{
        width: 91%;
}
.THIS .litop
{
        width: 85%;
}
.THIS .litop2
{
        width: 8%;
}
.THIS .buttonli
{
    width: 6px;
}
.THIS .uiradio
{
    padding-left: 24px;
}
.THIS .lipadding
{
    padding-left: 5px;
}
.THIS .thborder
{
    border-right: 1px white solid;
}
.THIS .trborder
{
    border-right: 1px solid #efefef;
}
.THIS .thshadow
{
    box-shadow: 0px 2px 5px #888888;
    font-weight: normal;
}
.THIS .fontstyle
{
    font-style: italic;
    font-size: 10px;
    padding-top:7px;
    padding-left :3px;
}
.THIS .lastmodifed
{
    width: 35%;
}
.THIS .marginclass
{
    margin-left: 4%;
    width:1%
}
.THIS .uiclass
{
    background-color: whitesmoke;
}
.THIS .headerwidth
{
  width: 95%;
}
.THIS .spanstyle
{
 margin-left: 1%;   
}
.THIS .marginh2
{
    margin-left: 4%; 
}
.THIS .whiteSpace
{
     white-space: inherit;
}
.THIS .uiclass2
{
	
    background-color: whitesmoke;
}
.THIS .selectwidth
{
    width: 59%;
}