.THIS .h3HeadCls{font-weight:bold; font-size: 16px;padding-bottom: 10px;}
.THIS .TabMainOuter{padding-right:0;}
.THIS .tabInnerLink{padding:0 8px !important;font-size: 13px;}

@media (min-width: 1200px) and (max-width: 1400px) {
    .THIS .tabInnerLink{padding: 0 8px!important;font-size: 11px;} 
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .THIS .tabInnerLink{padding: 0 8px!important;font-size: 10px;} 
}
@media (min-width: 991px) and (max-width: 1024px) {
    .THIS .tabInnerLink{padding: 0 8px!important;font-size: 12px;} 
}
@media (max-width: 991px) {
 .THIS .LeadsTableMainOuter, .THIS .TabMainOuter{width:100% !important;}
    .THIS .tabInnerLink{padding: 0 6px!important;font-size: 11px;}
}


.THIS .theadclass 
{
    background-color:#1e5aa3;
    box-shadow: 0 2px 5px #888888;
    font-weight: normal;
    color:white;
     text-transform: capitalize;
}
.THIS .textWrapComment{white-space: pre-wrap !important; }
.THIS .pB20px{padding-bottom:20px;}
.THIS .theadborder 
{
 border-right: 1px solid white;   
}
.THIS .liclass
{
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
     text-transform: capitalize;
}
.THIS .libold
{
    display: block;
    padding-right: 2%;
}
.THIS .panelclass
{
    width: 49.333333%;
}
.THIS .liwidth
{
width: 50%;
}

.THIS .tdborder
{
    border-right: 1px solid #efefef;
}
.THIS .iconclass
{
    padding-left: 73%;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
        height: 40px;
    border: 1px solid black;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
     text-transform: capitalize;
}
.THIS .headercolor
{
    color:white;
}
.THIS .headerli
{
    width: 90%;
}
.THIS .labelclass
{
    font-weight: bold;
}
.THIS .pclass
{
 color: white;
}
.THIS .tableborder
{
    border-bottom: 2px solid #d4d4d4;
    border-top: 0px solid #d4d4d4;
}
.THIS .secondtd
{
    vertical-align: middle;
    text-align: left
}
.THIS .trclass
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
            background: #EFEFEF;
}
.THIS .tablefixed
{
    table-layout: fixed
}
.THIS .borderleft
{
    border-right: 1px solid #efefef;
}
.THIS .iconwidth
{
  width: 84%;
}
.THIS .headerwidth
{
  width: 87%;
}
.THIS .lifont
{
        font-weight: bold;
}
.THIS .tableclass td,
.THIS .tableclass  th
{
   
    table-layout: fixed;
}