.THIS .uiradio
{
        margin-top: 2%;
}
.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .marginh2
{
    margin-left: 4%; 
}
.THIS .uiclass2
{
    background-color: whitesmoke; 
}
.THIS .radioliclass
{
 font-weight:bold;   
}
.THIS .marginclass
{
    margin-left: 4%;
    width:1%
}
.THIS .tableclass
{
       width: 100%;
}
.THIS .iconsize
{
       width: 76%;
}
.THIS .iconsizeworking
{
       width: 92%;
}
.THIS .iconsizeworking2
{
       width: 89%;
}
.THIS .iconsize2
{
       width: 85%;
}

.THIS .tdstyle
{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
}
.THIS .tdstyle2
{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
    padding-left:3%;
    padding-right:3%;
    
}
.THIS .trstyle
{
        background: #EFEFEF;
}
.THIS .labelclass
{
    font-style: italic;
    color: black;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
    height: 35px;
    border-bottom: 1px solid white;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .fieldsetclass
{
    border: 1px solid black;
    padding: .35em .625em .75em;
}
.THIS .bodyborder
{
    
    border-top: 0px;
    width: 80%;
}
.THIS .pclass
{
    color:white;
}
.THIS .legendclass
{
    padding-left: 4px;
}
.THIS .requirdclass
{
    color: red;
}
.THIS .spanstyle
{
 margin-left: 1%;   
}