.THIS .theadclass 
{
    background-color:#1E5AA3;
    color:white;
}
.THIS .radioliclass
{
 font-weight:bold;   
}
.THIS .panelclass
{
    width: 60%;
    padding:0px;
}
.THIS .secondpanelclass
{
    width: 38.333333%;
    border-left: 2px solid #efefef;
    padding: 3px;
} 
.THIS .liwidth
{
width: 50%;
 font-family: Arial, Helvetica, sans-serif;
}
.THIS .lialign
{
    align:right;
}
.THIS .lisize
{
    width:8%;
}
.THIS .firstlisize
{
    width:71%;
}
.THIS .listyle
{
    background-color: rgb(236, 238, 241);
    border: 1px white solid;
    padding: 3px;
}
.THIS .thclass
{
    color:black;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
    height: 40px;
    border: 1px solid black;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
}
.THIS .headercolor
{
    color:white;
}
.THIS .bodyborder
{
    border: 1px solid black;
        border-top: 0px;
}
.THIS .fieldsetclass
{
    border: 1px solid black;
}
.THIS .labelclass
{
    padding-left: 12%;
}
.THIS .popuplisize
{
    width: 50%;
}
.THIS .legendclass
{
    padding-left: 3%;
    font-weight: bold;
}
.THIS .headerli
{
        width: 91%;
}
.THIS .litop
{
        width: 85%;
}
.THIS .litop2
{
        width: 90%;
}
.THIS .buttonli
{
    width: 6px;
}
.THIS .uiradio
{
    padding-left: 24px;
}
.THIS .lipadding
{
    padding-left: 5px;
}
.THIS .thborder
{
    border-right: 1px white solid;
}
.THIS .trborder
{
    border-right: 1px solid #efefef;
}
.THIS .thshadow
{
    box-shadow: 0px 2px 5px #888888;
    font-weight: normal;
}
.THIS .fontstyle
{
    font-style: italic;
    font-size: 10px;
    padding-top:7px;
    padding-left :3px;
}
.THIS .tableclass
{
border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
}
.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .uiclass2
{
	
    background-color: whitesmoke;
}

.THIS .dealerName
{
    color: #333333;
    font-size: 16px;
    font-weight: bold; 
}
.THIS .marginclass
{
    margin-left: 4%;
       width: 10%;
}

.THIS .borderclass
{
        border-left: 2px solid #DDDDDD;
}
.THIS .Widthclass
{
    width: 77%;
}
.THIS .pclass
{
    color:white;
}