.THIS.headerclass
{
        background: white;
        border:0px;
        padding: 7.5px;

}
.THIS .thclass
{
   background-color: #1e5aa3;
    color: white;
    border-right: 1px white solid;
        text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .liclass
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
        text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .tableborder
{
    border-bottom: 2px solid #d4d4d4;
    border-top: 0px solid #d4d4d4;
}
.THIS .liwidth
{
    width: 50%;
    color: #615e5e;
    font-weight: bold;
}
.THIS .secondtd
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left
}
.THIS .liclass
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
        text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .trclass
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
            background: #EFEFEF;
}
.THIS .paddingclass
{
    padding-right: 8px;
}
.THIS .pclass
{
    color:white;
}
.THIS .iconsizeworking2
{
       width: 89%;
}