<apex:component >
    <apex:attribute access="public" name="meeting" description="Standard Meeting Object"
                    type="punosmobile__Meeting__c" required="true"/>
    <style>
        .download-agenda-button {
            width: 100%;
        }
    </style>
    <script>
        function downloadAgenda() {
            var meetingIdString = '{!meeting.Id}';
            var filename = "{!meeting.Name}-Agenda";
            var extString = '&ext=1';
            Visualforce.remoting.Manager.invokeAction('punosmobile.MAExtensionController.displayExtensionFile','ReportBrandedPDF', function(result, event) {
                console.log(result);
                if(result) {
                    console.log('Setting is set to installed');
                    var pageString = '/apex/c__CustomPDFAttachment';
                } else {
                    console.log('Setting is set to not installed');
                    var pageString = '{!$Page.punosmobile__MAMeetingAttachmentPDF}';
                }
                
                var url = pageString + '?id=' + meetingIdString + extString+'&pdf=true&dl=true&agendaTemplate=true&f='+filename;
                console.log(url);
                var ifrm = document.createElement("IFRAME");
                ifrm.setAttribute("src", encodeURI(url));
                ifrm.style.width = 0+"px";
                ifrm.style.height = 0+"px";
                ifrm.style.border = "none"; 
                document.body.appendChild(ifrm);

                });
        }
    </script>
    <button class="download-agenda-button" onClick="downloadAgenda()">AGENDA</button>
</apex:component>