<apex:component >
    <apex:attribute name="meetingsWithObject" description="Meetings to show" type="punosmobile__Meeting__c[]" required="true"/>
    <apex:attribute name="baseUrl" description="BaseUrl" type="String" required="true"/>

    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <style type="text/css">
            .ma-custom-18 {
                background-color: #53BFC2;
                color: #fff;
            }

        </style>
 
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />

            <!-- Import Apex Desing System Style Sheet -->
            <apex:slds />

            <apex:includeScript value="{!$Resource.punosmobile__svg4everybody}" />
                <script>
                    // Allows SVG icons to be used on IE browser up from IE7
                    svg4everybody();
                </script>
            </head>

        <div class="slds-scope">
            <apex:repeat value="{!meetingsWithObject}" var="meeting">
                <div class="slds-media">
                    <div class="slds-media__body">
                        <div class="slds-media slds-media--timeline slds-timeline__media--call">
                            <!-- Style tag below for the div adds different styling for Lightningn components (==Theme4d) and keeps the old styling with white background for classic components (==Theme3) -->
                            <!-- For some reason lightning showed the current theme as Theme3 (because  of visualforce container??) so had to include that as well -->
                            <div class="slds-media__figure slds-timeline__icon" style="{!if(($User.UIThemeDisplayed == 'Theme4d' || $User.UIThemeDisplayed == 'Theme3') ,'border: 2px solid rgb(255, 255, 255) !important;margin-top: 0rem !important;border-top-width: 0.25rem !important;border-bottom-width: 0.25rem !important;','')}">
                                <div class="slds-icon_container ma-custom-18">
                                    <!-- override the default size. 1.5 rem looks more like the sf defaul icons -->
                                    <svg aria-hidden="true" style="width: 1.5rem; height: 1.5rem;" class="slds-icon">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom18')}"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="slds-media__body">
                                <h3 class="slds-truncate"><a href="{!baseUrl + meeting.ID + '/e'}" target="_blank">{!meeting.Name}</a></h3>
                                <ul class="slds-list--horizontal slds-wrap">
                                    <li class="slds-m-right--large">
                                        <span class="slds-text-title">Owner:</span>
                                        <span class="slds-text-body--small"><a href="{!baseUrl + meeting.Owner.ID}" target="_blank">{!meeting.Owner.Name}</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure--reverse">
                        <div class="slds-timeline__actions">
                            <p class="slds-timeline__date">
                                <apex:outputText rendered="{!meeting.punosmobile__Start_Time__c != null}">
                                    <punosmobile:locale_formatted_datetime date_time_value="{!meeting.punosmobile__Start_Time__c}" date_only_value="false" time_only_value="true"/>
                                    <span> | </span>
                                    <punosmobile:locale_formatted_datetime date_time_value="{!meeting.punosmobile__Start_Time__c}" date_only_value="true" time_only_value="false"/>
                                </apex:outputText>
                            </p>
                        </div>
                    </div>
                </div>
            </apex:repeat>
        </div>
    </html>
</apex:component>