.THIS .uiradio
{
        margin-top: 2%;
}
.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .marginh2
{
    margin-left: 4%; 
}
.THIS .uiclass2
{
    background-color: whitesmoke; 
}
.THIS .radioliclass
{
 font-weight:bold;   
}
.THIS .marginclass
{
    margin-left: 4%;
    width:1%
}
.THIS .tableclass
{
       width: 100%;
}
.THIS .iconsize
{
       width: 76%;
}
.THIS .iconsizeworking
{
       width: 92%;
}
.THIS .iconsizeworking2
{
       width: 89%;
}
.THIS .iconsize2
{
       width: 85%;
}

.THIS .tdstyle
{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
}
.THIS .tdstyle2
{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 20%;
    height: 2em;
    padding-left:3%;
    padding-right:3%;
    
}
.THIS .tdstyle3
{
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: center;
    padding: 0 0 0 5px;
    width: 33%;
    height: 2em;
    padding-left:0%;
    padding-right:3%;
    
}
.THIS .trstyle
{
        background: #EFEFEF;
}
.THIS .labelclass
{
    font-style: italic;
    color: black;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
    height: 35px;
    border-bottom: 1px solid white;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
.THIS .fieldsetclass
{
    border: 1px solid black;
    padding: .35em .625em .75em;
}
.THIS .bodyborder
{
    
    border-top: 0px;
    width: 80%;
}
.THIS .pclass
{
    color:white;
    
}
.THIS .legendclass
{
    padding-left: 4px;
}
.THIS .requirdclass
{
    color: red;
}
.THIS .spanstyle
{
 margin-left: 1%;   
}
.THIS .slds-notify_container
{
    top:inherit;

}
.THIS .slds-theme--error
{
background-color: #E88310;
}
.THIS .slds-text-heading_small
{
color :white;
}
.THIS tr.spaceUnder>td 
{
  padding-bottom: 1em;
}
.THIS .disableSave { 
  cursor: not-allowed;
  pointer-events: none;
}

/* new styles */
.THIS, .THIS div, .THIS h1, .THIS h2, .THIS h3, .THIS h4, .THIS h5, .THIS h6 , .THIS a, .THIS p, .THIS label, .THIS table, .THIS th, .THIS tr, .THIS td, .THIS option{font-family: Salesforce Sans,Arial,sans-serif !important;font-weight: 500;}
.THIS .rytSide{float:right;padding-bottom: 10px;}
.THIS .clearfix {  overflow: auto;clear: both;}
.THIS .normalIcns{padding: 0 0 1px 9px; border-radius: 50%; background-color: #54688d;color: #fff; border: 1px solid #54688d;margin-left: 5px;}
.THIS .apppopupCloseIcn{position: absolute; margin-top: -17px; margin-left: 10px;}
.THIS .apppopupCloseIcn svg{fill:#ffffff;}
.THIS .mainBtn { padding-left: 10px; padding-right: 10px; text-align: center; vertical-align: middle; border: 1px solid rgb(217, 219, 221); transition: border .15s linear;
    background-color: #3a5396; border-color: #3a5396; color: rgb(255, 255, 255);margin-top:10px;width:100%;}

.THIS .uiInput--checkbox input[type="checkbox"]:checked, .THIS input.uiInput--checkbox[type="checkbox"]:checked {background-color: #3a5396; border-color: #3a5396;}