.THIS .uiradio
{
        margin-top: 2%;
}
.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .marginh2
{
    margin-left: 4%;
       width: 1%;
}
.THIS .uiclass2
{
    background-color: whitesmoke; 
}
.THIS .radioliclass
{
 font-weight:bold;   
}
.THIS .marginclass
{
    margin-left: 4%;
       width: 1%;
}
.THIS .tableclass
{
       width: 100%;
}
.THIS .iconsize
{
       width: 76%;
}
.THIS .iconsizeworking
{
       width: 89%;
}
.THIS .iconsize2
{
       width: 85%;
}

.THIS .tdstyle
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
}
.THIS .trstyle
{
        background: #EFEFEF;
}
.THIS .labelclass
{
    font-style: italic;
    color: black;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
    height: 35px;
     border-bottom: 1px solid white;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
    width: 80%;
     font-family: Arial, Helvetica, sans-serif;
}
.THIS .bodyborder
{
   
        border-top: 0px;
    width: 80%;
}
.THIS .spanstyle
{
 margin-left: 1%;   
}
.THIS .pclass
{
    color:white;
}