.THIS .marginh2
{
    margin-left: 4%; 
}
.THIS .uiradio
{
        margin-top: 2%;
}
.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .pclass
{
 color: white;
}
.THIS .headerwidth
{
  width: 93%;
}
.THIS .iconsizeworking
{
       width: 89%;
}