.THIS .theadclass 
{
    background-color:#1E5AA3;
    color :white;
}
.THIS .lisize
{
    width:8%;
}
.THIS .thclass
{
    color:black;
}
.THIS .thborder
{
    border-right: 1px white solid;
}
.THIS .trborder
{
    border-right: 1px solid #efefef;
}
.THIS .thshadow
{
    box-shadow: 0px 2px 5px #888888;
    font-weight: normal;
}
.THIS .tableclass
{
border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
}

.THIS .thwidth
{
            width: 3%;
}
.THIS .pclass
{
 color: white;
}
.THIS .lisize
{
    width: 93%;
}
.THIS .tablethwidth
{
    width: 15%;
}
.THIS .totalsize
{
    width: 93%;
}
.THIS .page
{     width: 90%;
      padding-top: 4%;
}
.THIS .dealerheader
{
    background-color: #EAEAEA;
    height: 50px;
    margin-left: 2%;
    margin-right: 1%;
}
.THIS .uiradio
{
        margin-top: 2%;
}

.THIS .uiclass
{
	height: 63px;
    background-color: whitesmoke;
}
.THIS .marginh2
{
    margin-left: 4%; 
}