.THIS .theadclass 
{
    background-color:#1e5aa3;
    box-shadow: 0 2px 5px #888888;
    font-weight: normal;
    color:white;
      font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize;
}
.THIS .textWrapComment{white-space: pre-wrap !important; }
.THIS .pB20px{padding-bottom:20px;}
.THIS .theadborder 
{
 border-right: 1px solid white;   
}
.THIS .liclass
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left;
    padding: 0 0 0 5px;
    width: 30%;
    height: 2em;
     text-transform: capitalize;
}
.THIS .libold
{
    display: block;
    padding-right: 2%;
}
.THIS .panelclass
{
    width: 49.333333%;
}
.THIS .liwidth
{
width: 50%;
}

.THIS .tdborder
{
    border-right: 1px solid #efefef;
}
.THIS .iconclass
{
    padding-left: 73%;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
        height: 40px;
    border: 1px solid black;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize;
}
.THIS .headercolor
{
    color:white;
}
.THIS .headerli
{
    width: 90%;
}
.THIS .labelclass
{
    font-weight: bold;
}
.THIS .pclass
{
 color: white;
}
.THIS .tableborder
{
    border-bottom: 2px solid #d4d4d4;
    border-top: 0px solid #d4d4d4;
}
.THIS .secondtd
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left
}
.THIS .trclass
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
            background: #EFEFEF;
}
.THIS .tablefixed
{
    table-layout: fixed
}
.THIS .borderleft
{
    border-right: 1px solid #efefef;
}
.THIS .iconwidth
{
  width: 84%;
}
.THIS .headerwidth
{
  width: 87%;
}
.THIS .lifont
{
   font-weight: bold;
}
.THIS .tableclass td,
.THIS .tableclass  th
{
    table-layout: fixed;
}
.THIS .slds-theme--error
{
	background-color: #E88310;
}
.THIS .slds-text-heading_small
{
color :white;
}


/* new styles */
.THIS, .THIS div, .THIS h1, .THIS h2, .THIS h3, .THIS h4, .THIS h5, .THIS h6 , .THIS a, .THIS p, .THIS label, .THIS table, .THIS th, .THIS tr, .THIS td, .THIS option{font-family: Salesforce Sans,Arial,sans-serif !important;font-weight: 500;}

.THIS .outerBoxTab{border: 1px solid rgb(212, 212, 212) !important;    border-radius: 0.25rem !important;    padding: 10px 15px !important;}
.THIS .outerBoxTab ul{background-color:#fff;border: none;}
.THIS .slds-active .slds-tabs_scoped__link, .THIS .slds-active .slds-tabs--scoped__link, .THIS .slds-is-active .slds-tabs_scoped__link, .THIS .slds-is-active .slds-tabs--scoped__link {
    border: none; border-bottom: 2px solid #1e5aa3;color: #3a5396;font-weight: 500;text-decoration: none;
}
.THIS .innerTaba:hover{border:none !important;}
.THIS .normalIcns{padding: 0 0 1px 9px; border-radius: 50%; background-color: #54688d;color: #fff; border: 1px solid #54688d;margin-left: 5px;}
.THIS .rytSide{float:right;padding-bottom: 10px;}
.THIS .lftSide h2{font-weight:bold;position: absolute;}
.THIS .clearfix {  overflow: auto;clear: both;}
.THIS .h2Cls{font-size: 16px;color: #101010;font-size: 16px; color: #101010;text-align: left; text-transform: capitalize; padding-top: 0;padding-bottom: 15px;font-weight: bold;}
.THIS .h3Cls{font-size: 14px;color: #101010;font-weight:bold;}
.THIS .h4Cls{font-size: 12px;color: #101010;font-weight:bold;}
.THIS .UserIcn{background-color: #fff;color: #333 !important; padding: 0 5px 0 0;}
.THIS .UserIcn svg{fill: #333;height: 16px;width: 16px;}
.THIS .mainBtn { padding-left: 10px; padding-right: 10px; text-align: center; vertical-align: middle; border: 1px solid rgb(217, 219, 221); transition: border .15s linear;
    background-color: #3a5396; border-color: #3a5396; color: rgb(255, 255, 255);margin-top:10px;margin-right: 5px;}
.THIS hr{    margin: 15px 0;}
.THIS .clrBlue{color: #3a5396; }
.THIS .contentRow{padding-bottom:10px;font-size:12px;}
.THIS .contentRow a{font-size: 14px;color: #101010;font-weight:bold;}
.THIS .side50Mob100{width:48%;float: left;}
.THIS .side100{width:100%;}
.THIS .width90{width:93%;}
.THIS .cVGA_LeadDetailsComponent .iconwidth { width: 75%;}
.THIS .popupIcnsOuter{position: absolute; right: 15px; margin-top: -15px;}
.THIS .popupHead{font-size: 16px; margin-bottom: 15px; display: block;}
.THIS .popBtn{padding: 2px 3px 2px 10px; border-radius: 50%;margin-left: 5px;}
.THIS .popBtnClose{padding: 2px 3px 2px 10px; border-radius: 50%;background-color:#d84b57; border-color:#d84b57;margin-left: 5px;}
.THIS .tabUlhead{background-color:#fff;}
.THIS .deleteBtn{background-color: #d84b57; border-color: #d84b57;}
.THIS label{font-weight: bold;}

@media screen and (max-width:360px) {
  .THIS .side50Mob100{width:100%;float: none;}  
}