<apex:page controller="RecallController" showHeader="false" sidebar="false" docType="html-5.0" >

    <head lang="en">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ŠKODA Recall</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/start/jquery-ui.css" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <style>
            .loadinggif {
                background:url('') no-repeat right center;
            }
            
            .bg{

                background: #f3f5f6;
            }
            label {
                margin-bottom: 7px;
                font-weight: normal;
            }
            
            #form_body{
                padding: 15px;
            }
            .container{
                max-width: 960px;
                line-height: 24px;
            }
            
            .form-control{
                padding: 10px 12px;
                height: 37px;
                -webkit-box-shadow: none !important;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
                border: 1px solid #dee1e3 !important;
            }
            .form-control:focus{
                border: 2px solid #95b9f0 !important;
            }
            table  input[type=checkbox], input[type=radio], table label {
                display: inline !important;
            }
            td {
                padding: 0 5px;
            }
            input[type=checkbox], input[type=radio] {
                margin: 4px 10px 0;
                margin-top: 1px\9;
                line-height: normal;
            }
            .btn-primary {
                color: #fff !important;
                background-color: #4ba82e !important;
                border-color: #4ba82e !important;
            }
            .btn{
                display: inline-block !important;
                padding: 6px 12px !important;
                margin-bottom: 0 !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 1.42857143 !important;
                text-align: center !important;
                white-space: nowrap !important;
                vertical-align: middle !important;
                -ms-touch-action: manipulation !important;
                touch-action: manipulation !important;
                cursor: pointer !important;
                -webkit-user-select: none !important;
                -moz-user-select: none !important;
                -ms-user-select: none !important;
                user-select: none !important;
                background-image: none !important;
                border: 1px solid transparent !important;
                border-radius: 4px !important;
            }
            .inline{
                display: inline !important;
            }

            label > label{
                margin-left:0;
                padding-left: 0 !important;
            }
            
            .popupoverlay {
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.85);
                cursor: pointer;

                -webkit-transition: opacity 0.3s ease-in-out;
                -moz-transition: opacity 0.3s ease-in-out;
                -ms-transition: opacity 0.3s ease-in-out;
                -o-transition: opacity 0.3s ease-in-out;
                transition: opacity 0.3s ease-in-out;
            }

            .popupoverlay .popupmodal {
                cursor: auto;
                position: absolute;
                z-index: 11;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                width: 325px; /*changehere*/
                max-height: 30px;
                padding-left: 20px;
                padding-right: 20px;
                background-color: rgb(255,255,255);
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            .popupoverlay .popupmodal p {
                font-weight: bold;
                line-height: 30px;
                height: 30px;
                margin: 0px;
            }

            .popupoverlay.shown {
                opacity: 0.8;
            }

            .error {
                color: red;
                font-size: 12px;
            }

            .request_icons {
                cursor: pointer;
            }

            input[type='submit']{
                margin-left: 15px;
            }



            .error {
                font-size: 12px;
                position: absolute;
                display: inline-block;
                margin: -10px 0;
                right: 20px;
                opacity: 1;
                max-width: 200px;
                padding: 3px 8px;
                color: #fff;
                text-align: center;
                background-color: #f13a3a;
                border-radius: 4px;
            }
            .error:after{
                content: '';
                position: relative;
                left: 18px;
                top: 7px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid #f13a3a;
                clear: both;
                display: block;
            }
            .checkbox label .error{
                display:none;
            }
            
.form-control[readonly] {
background-color: #fff;
}  
    


html {
  background-color: #f3f5f6;
  font-size: 14px;
}  

a {
color: #4ba82e;
}

.nav > li > a:hover {
color: #4ba82e;
}

            
 body { 
    font-family: "SkodaPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    @font-face { 
    font-family: "SkodaPro"; 
    src: url('{!URLFOR($Resource.fonts, 'Skoda/Skodapro-regular.ttf')}') format('truetype'); 
    font-weight: 400; font-style: normal; 
    }
    
    @font-face { 
    font-family: "SkodaPro"; 
    src: url('{!URLFOR($Resource.fonts, 'Skoda/Skodapro-bold.ttf')}') format('truetype'); 
    font-weight: 600; font-style: normal; 
    } 
    
    @font-face { 
    font-family: "SkodaPro"; 
    src: url('{!URLFOR($Resource.fonts, 'Skoda/Skodapro-extrabold.ttf')}') format('truetype'); 
    font-weight: 900; font-style: normal; 
    }     
    
    
        .recallFormMainHead{font-family: "SkodaPro";font-weight: 600;}
            .tAlignC{text-align:center;}
            .pTB30px{padding:30px 0;}
            .tAlignJustify{text-align: justify;}
            .recallVinNoBox{background-color: #efefef;border: 1px solid #9a9a9a;padding: 20px 15px;}
            .pT20pxB40px{padding-top:20px; padding-bottom: 40px;}
            .submitButtonMain{width: 100%;height: 35px;font-family: "SkodaPro";;background-color: #4ba82e !important; margin-left:0 !important;}
            .pR5px{padding-right:5px !important;}
            .pL0px{padding-left:0 !important;}
            .recallLabelBold{font-family: "SkodaPro";font-weight: 600;}
            
            
            @media (max-width:767px)
            {
            .pR5px{padding:0 0 5px 0 !important;}
            .pL0px, .mobP0px{padding:0 !important;}
            }
    
    
    </style>         
    </head>

 <apex:form id="main_form">
        <div class="bg">
            <div class="container">
                    <div id="form_body">
                       <div class="row">
                           <div class="col-sm-12 tAlignC pTB30px">
                               <h1 class="recallFormMainHead">
                                   Is My Vehicle Affected by the Recall?
                               </h1>
                           </div>
                        </div> 
                        <div class="row">
                           <div class="col-sm-8 tAlignJustify">
                               <p>
                                   Please enter your VIN in the box below to confirm whether your vehicle is part of the Takata Airbag Safety Recall. 
                               </p>
                               <p>
                                   You can find your VIN at the bottom of your windscreen (as you look into the vehicle from the outside) or on your vehicle registration certificate issued by the vehicle registration body in your state or territory.
                               </p>
                               <p>
                                   Take care when you enter the VIN details of your vehicle. Failure to input these correctly could return an incorrect result. 
                               </p>                               
                           </div>
                           <div class="col-sm-4">
                               <apex:image url="{!$Resource.vinWindscreen}" width="200" height="200"/>
                           </div>                            
                        </div>
                        
                       <div class="col-sm-10 pT20pxB40px"> 
                       <div class="row recallVinNoBox">         
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 mobP0px">
                                        <apex:outputLabel styleClass="recallLabelBold"  value="Enter your VIN: " for="vin"/>
                                         </div>
                                        <div class="col-sm-8 pR5px">
                                         <apex:inputText tabindex="1" styleClass="form-control" html-placeholder="VIN" value="{!vin}" id="vin"/>
                                         </div>  
                                        <div class="col-sm-4 pL0px">
                                          <apex:commandButton id="submit" value="Submit" styleClass="btn btn-primary submitButtonMain"  action="{!submit}" onclick="return validateForm()"/>  
                                         </div>  
                                        <apex:inputHidden value="{!brand}" id="brand"/>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                           <div class="clearfix"></div>
                        </div>    
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-11">
                        <div class="row">
                        <p>
                           Note: Vehicles not currently under active recall may later be recalled. All planned future recalls are set out in the Recall Initiation Schedule (a link to which is below). Please note that, while ŠKODA will seek to contact affected consumers directly at the relevant time, we may be unable to contact you if your accurate contact details are not available to us.
                         </p>
                        </div>
                        </div>
                        <div class="popupoverlay">
                            <div class="popupmodal">
                                <p class="loadinggif"></p>
                            </div>
                        </div>                        
                        
                    </div>
                    

                    



                </div>
            </div>
    </apex:form>
    
    <apex:form >
        <apex:actionFunction action="{!checkVinStatus}" name="checkVinStatus" rerender="vinget" oncomplete="checkVinStatusComplete('{!returnURL}')" >
            <apex:param name="brand" value="" assignTo="{!brand}"/>
            <apex:param name="vin" value="" assignTo="{!vin}"/>
        </apex:actionFunction>
    </apex:form>    
    
    
  <script>

        function validateForm(result) 
        {            
            
            $('[id$=brand]').val('Skoda');

            if($('#form_body [id$=vin]').val().length != 17)
            {
                $("#form_body label[for*='vin']").css("background-color", "#FFB2B2");                
                $('<div class="error">VIN should have 17 characters</div>').insertAfter("#form_body label[for*='vin']");  
                return false;
            }
            
            $('#form_body [id$=vin]').addClass('loadinggif');
            $('.popupoverlay .popupmodal p').text('Checking VIN status');
            $('.popupoverlay').trigger('show');            
            checkVinStatus($('[id$=brand]').val(), $('#form_body [id$=vin]').val());

            
            return false;            
        }

     function checkVinStatusComplete(result)
     {
         window.location = result;
     }
    
        (function($) {
            $.fn.overlay = function() {
                overlay = $(this);

                overlay.ready(function() {
                    overlay.on('transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd', function(e) {
                        if (!overlay.hasClass('shown')) {
                            overlay.css('visibility', 'hidden');
                        }
                    });

                    overlay.on('show', function() {
                        overlay.css('visibility', 'visible');
                        overlay.addClass('shown');
                        return true;
                    });

                    overlay.on('hide', function() {
                        overlay.removeClass('shown');
                        return true;
                    });

                })
            };

        })(jQuery);
    
            function GetParameterValues(param) {  
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
                for (var i = 0; i < url.length; i++) {  
                    var urlparam = url[i].split('=');  
                    if (urlparam[0] == param) {  
                        return urlparam[1];  
                    }  
                }  
            }    

        $(document).ready(function() {
            $('.popupoverlay').overlay();
            var vin = GetParameterValues('vin');
            if(typeof vin != 'undefined')
            {
                $('#form_body [id$=vin]').val(vin);
                $('#form_body [id$=submit]').click();
            }            
        });    

    </script>


</apex:page>