<apex:page standardController="Lead" extensions="VGA_MapDetailsController" sidebar="false" showHeader="false" >
    <!-- This page must be accessed with an Account Id in the URL. For example: https://<salesforceInstance>/apex/NearbyContacts?id=001D000000JRBet -->
  
        
         <apex:map width="600px" height="400px" mapType="roadmap" center="{!objLead.Street},{!objLead.City},{!objLead.State}" zoomLevel="15">
            
               <apex:mapMarker title="{!objLead.Name}" position="{!objLead.Street},{!objLead.City},{!objLead.State}" />
            
         </apex:map>
    
  
</apex:page>