<apex:page standardController="Lead"  
        extensions="VGA_ExportLeadController"
        contentType="application/vnd.ms-excel#Lead.xls" 
        standardstylesheets="false" 
        language="en-US"
        showHeader="false"
        readOnly="true"
        cache="true"
        >    
    
    <apex:form >
      <apex:pageblock >        
             <apex:pageBlockTable value="{!listofLead }" var="acc">
                 <apex:repeat value="{!$ObjectType.Lead.fieldsets.VGA_Lead_Field_Set}" var="fieldValue">
                     <apex:column value="{!acc[fieldValue]}">
                     </apex:column>
                 </apex:repeat>
             </apex:pageBlockTable>
         
           
        
      </apex:pageblock>
    </apex:form>  
</apex:page>