<apex:page showHeader="false" sidebar="false" docType="html-5.0">
<head>
<title>Thank you</title>
<style>
            .popupoverlay {
              position: fixed;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              z-index: 10;
              width: 100%;
              height: 100%;
              cursor: pointer;
            
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
            }
            
            .popupoverlay .popupmodal {
              cursor: auto;
              position: absolute;
              z-index: 11;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              margin: auto;
              max-width: 500px;
              max-height: 30px;
              padding-left: 20px;
              padding-right: 20px;
              background-color: rgb(255,255,255);
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              font-size: 20px;
            }
</style>
</head>
    <div class="popupoverlay">
        <div class="popupmodal" >
        <h1>Thank you for contacting Volkswagen Australia. Your request has been submitted and a Volkswagen Team Member will be in contact shortly.</h1>
        <br />
        <br />
       <!-- <div style="margin-left: 30%;"><h3>
         <apex:outputLink value="/carconfigurator?bbo1?={!$CurrentPage.parameters.bbo1}&&bbo2={!$CurrentPage.parameters.bbo2}&bbo3={!$CurrentPage.parameters.bbo3}" target="_self">Back</apex:outputLink>
        </h3></div>   -->       
        </div>
    </div>
</apex:page>