.THIS .iconsizeworking
{
      width: 94%;
}
.THIS .labelclass
{
     max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
     white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;  
    color: white;
}
.THIS .thclass
{
    background-color: #287CA6;
            padding: .25rem .5rem;
            font-weight: bold;
}
.THIS .legendclass{
    background-color: #287ca6;
    width: 100%;
    color: white;
    line-height: 1.5;
    padding: 1px;
    font-weight: bold;
}
.THIS .legendclass2{
    background-color: #287ca6;
    width: 98%;
    color: white;
    line-height: 1.5;
    padding: 1px;
    font-weight: bold;
}
.THIS .divclassrow{
    background-color: #287ca6;
    width: 100%;
    color: white;
    line-height: 1.5;
    padding: 6px;
    font-weight: bold;
}
.THIS .divclass
{
    background-color: white;
}
.THIS .buttoncolor
{
    color: white;
    font-weight: bold;
    background-color: #287ca6
}
.THIS .paddingclass
{
        padding-right: 4%;
}
.THIS .tableclass
{
    width:50%;
}
.THIS .paddingleft
{
    padding-left: 2%; 
}