.THIS {padding:10px;font-family: 'Salesforce Sans',Arial,sans-serif;}
.THIS .blueClr{color:#212121 !important;}
.THIS .mainOuter{}
.THIS .row{display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap; margin-right: -15px;margin-left: -15px;padding-left: 15px; padding-right: 15px;}
.THIS .calenderArena{width:60%;padding:10px;background-color: #f7f7f7;border-radius: .25rem;}
.THIS .createLeadAccept{width:19%;padding:10px;border:1px solid #cecece;margin-left: 1%;text-align: center;border-radius: .25rem;}
.THIS .leadDetails{float:left;}
.THIS .h2Cls{text-align: center;font-size: 30px;padding-bottom: 24px;text-transform: uppercase;padding-top: 24px;font-weight: 600;}
.THIS .newLeadbtn{height: 40px;font-size: 18px;margin:10px auto;text-align:center;}
.THIS .mT15{margin-top:15px;}
.THIS .leadName{font-size: 18px;font-weight: 600;text-align: left;padding-bottom: 5px;}
.THIS .timeSlot{float:left;font-size: 14px;padding-right: 10px;}
.THIS .acceptBtn{float:right;}
.THIS .pT10{padding-top:10px;}
.THIS .hrLine{    display: block;
    margin: 10px 0;
    border-top: 1px solid rgb(221, 219, 218);
    height: 1px;
    clear: both;}
.THIS p span{font-weight:bold;}
.THIS .slds-box:hover{background-color: #f1f1f1;}

.THIS .fc-state-active { background-color: #1b5297; background-image: none; color: #fff;box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1300px) {
.THIS .calenderArena, .THIS .createLeadAccept, .THIS .leadDetails{width:100% !important;float:none;}
}

.THIS .fc-event .fc-event-dot {
    background-color: #1b5297;
}