.THIS .theadclass 
{
    background-color:#1e5aa3;
    box-shadow: 0 2px 5px #888888;
    font-weight: normal;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
.THIS .textWrapComment{white-space: pre-wrap !important; }
.THIS .pB20px{padding-bottom:20px;}
.THIS .theadborder 
{
 border-right: 1px solid white;   
}
.THIS .liclass
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left;
    /*padding: 0 0 0 5px;*/
    width: 30%;
    height: 2em;
     text-transform: capitalize;
}
.THIS .libold
{
    display: block;
    padding-right: 2%;
}
.THIS .panelclass
{
    width: 49.333333%;
}
.THIS .liwidth
{
width: 30%;
}

.THIS td.secondtd.liwidth
{
width: 70%;
}

.THIS slds-col.slds-size_2-of-6{
    padding-right: 0;
    padding-left: 0;
}
.THIS liclass liwidthDate
{
   width:100%; 
}

.THIS .tdborder
{
    border-right: 1px solid #efefef;
}
.THIS .iconclass
{
    padding-left: 73%;
}
.THIS .modelheader
{
    background-color:#1E5AA3;
        height: 40px;
    border: 1px solid black;
    color:white;
    text-align: left;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
     text-transform: capitalize;
}
.THIS .headercolor
{
    color:white;
}
.THIS .headerli
{
    width: 90%;
}
.THIS .labelclass
{
    font-weight: bold;
}
.THIS .pclass
{
 color: white;
}
.THIS .tableborder
{
    border-bottom: 2px solid #d4d4d4;
    border-top: 0px solid #d4d4d4;
}
.THIS .secondtd
{
    font-family: Arial, Tahoma, sans-serif;
    vertical-align: middle;
    text-align: left
}
.THIS .trclass
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
            background: #EFEFEF;
}
.THIS .tablefixed
{
    table-layout: fixed
}
.THIS .borderleft
{
    border-right: 1px solid #efefef;
}
.THIS .iconwidth
{
  width: 84%;
}
.THIS .headerwidth
{
  width: 87%;
}
.THIS .lifont
{
        font-weight: bold;
}
.THIS .tableclass td,
.THIS .tableclass  th
{
   
    table-layout: fixed;
}
.THIS .slds-text-heading_small
{
color :white;
}
.THIS .slds-theme--error
{
	background-color: #E88310;
}